@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #505050;
}

body {
  margin: 0;
}

html {
  background: linear-gradient(180deg, #ffd9d9 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(90deg, #f8ff00 2.22%, #3ad59f 97.22%);
  background-size: auto, cover;
  background-position: top left, center;
  background-attachment: scroll, fixed;
  margin: 0;
}

.main {
  min-width: 500px;
  width: 70vw;
  max-width: 80vw;
  height: 75vh;
  display: flex;
  margin: auto;

  justify-content: space-evenly;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

nav {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px 50px;
  justify-content: left;
  position: sticky;
  top: 0;
}

nav > img {
  height: 16px;
  padding-left: 20px;
}
